import logoUrl from './logo.png';

<header.navigation>
  <nav>
    <img.navigation__logo src=logoUrl alt='Logo'>
    <ul.navigation__list><li>Solutions</li><li>Articles</li><li>Story</li></ul>
  </nav>
</header>
style {
  .navigation {
  }
  .navigation__logo {
  }
  .navigation__list {
  }
}
