<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='preconnect' href='https://fonts.bunny.net' crossorigin>
    <link
      href='https://fonts.bunny.net/css?family=Open+Sans:700'
      media='all'
      rel='stylesheet'
    >
    <${input.head}/>
    <!-- ^^^ e.g. for SEO and stuff -->
  </head>
  <body>
    <blog-navigation/>
    <div.container><main#main><${input.body}/></main></div>
  </body>
</html>
